<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    
    <h1>{{title}}</h1>
    {{!-- <form action="/">
    <input type="text" name="local" id="item"/>
    <button type="submit" id="enviar"> Enviar</button>
    </form> --}}

                
            



  <div class="container">    
              <form action="/">
                <input type="text" name="local" id="item"/>
                <button type="submit" id="enviar"> Enviar</button>
                </form>
            
          <form  class="form-horizontal"> 
          <div class="form-group">
            <button type="submit" id="adicionar" class="btn btn-primary">Adicionar favorito</button>
            <button type="reset" id="clean"  class="btn btn-secondary">Limpar lista</button>
        </div>
    </form> 
    </div>
              
   <p id="morada-list-text">Nenhum Item Adicionado</p>
   <p>Favoritos</p>
  <p class="list-group" id="morada-list"></p>          

    <h3>{{subtitle}}</h3>
    <h1>{{title1}}</h1>
    <p>{{text1}}</p>
    <p>{{text2}}</p>
    <p>{{text3}}</p>
    <p>{{text4}}</p>
    <p>{{text5}}</p>
    <p>{{text6}}</p>
    <p>{{text7}}</p>
    <p>{{text8}}</p>
    <p>{{text9}}</p>
    <h1>{{title2}}</h1>
    <p>{{text10}}</p>
    <p>{{text11}}</p>
    <p>{{text12}}</p>
    <p>{{text13}}</p>
    <p>{{text14}}</p>
    <p>{{text15}}</p>
    <p>{{text16}}</p>
    <p>{{text17}}</p>
    <p>{{text18}}</p>
    <p>{{text19}}</p>
    <h1>{{title3}}</h1>
    <p>{{text20}}</p>
    <p>{{text21}}</p>
    <p>{{text22}}</p>
    <p>{{text23}}</p>
    <p>{{text24}}</p>
    <p>{{text25}}</p>
    <p>{{text26}}</p>
    <p>{{text27}}</p>
    <h1>{{title4}}</h1>
    <p>{{text30}}</p>
    <p>{{text31}}</p>
    <p>{{text32}}</p>
    <p>{{text33}}</p>
    <p>{{text34}}</p>
    <p>{{text35}}</p>
    <p>{{text36}}</p>
    <p>{{text37}}</p>
    <h1>{{title5}}</h1>
    <p>{{text40}}</p>
    <p>{{text41}}</p>
    <p>{{text42}}</p>
    <p>{{text43}}</p>
    <p>{{text44}}</p>
    <p>{{text45}}</p>
    <p>{{text46}}</p>
    <p>{{text47}}</p>
    <h1>{{title6}}</h1>
    <p>{{text50}}</p>
    <p>{{text51}}</p>
    <p>{{text52}}</p>
    <p>{{text53}}</p>
    <p>{{text54}}</p>
    <p>{{text55}}</p>
    <p>{{text56}}</p>
    <p>{{text57}}</p>
    <h1>{{title7}}</h1>
    <p>{{text60}}</p>
    <p>{{text61}}</p>
    <p>{{text62}}</p>
    <p>{{text63}}</p>
    <p>{{text64}}</p>
    <p>{{text65}}</p>
    <p>{{text66}}</p>
    <p>{{text67}}</p>
    <h1>{{title8}}</h1>
    <p>{{text70}}</p>
    <p>{{text71}}</p>
    <p>{{text72}}</p>
    <p>{{text73}}</p>
    <p>{{text74}}</p>
    <p>{{text75}}</p>
    <p>{{text76}}</p>
    <p>{{text77}}</p>
    <h1>{{title9}}</h1>
    <p>{{text80}}</p>
    <p>{{text81}}</p>
    <p>{{text82}}</p>
    <p>{{text83}}</p>
    <p>{{text84}}</p>
    <p>{{text85}}</p>
    <p>{{text86}}</p>
    <p>{{text87}}</p>
    <p>{{text88}}</p>
    <p>{{text89}}</p>
    <h1>{{title10}}</h1>
    <p>{{text90}}</p>
    <p>{{text91}}</p>
    <p>{{text92}}</p>
    <p>{{text93}}</p>
    <p>{{text94}}</p>
    <p>{{text95}}</p>
    <p>{{text96}}</p>
    <p>{{text97}}</p>
    <h1>{{title11}}</h1>
    <p>{{text100}}</p>
    <p>{{text101}}</p>
    <p>{{text102}}</p>
    <p>{{text103}}</p>
    <p>{{text104}}</p>
    <p>{{text105}}</p>
    <p>{{text106}}</p>
    <p>{{text107}}</p>

  
    
     <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script>
    $(document).ready(function () {

       $("#morada-list").hide();
       $("#item").focus();

      /*
       * check browser supports local storage
       */
      if (localStorage) {

        var moradaList_string = localStorage.getItem('moradaList');
        if (moradaList_string) {
          $("#morada-list-text").hide();
          $("#morada-list").show();
          var moradaList = JSON.parse(moradaList_string);
          console.log(moradaList);
          $.each(moradaList, (index, text) => {
            ("#morada-list").append(`<p class="list-group-item">${text}</p>`);
             
          });
        }
        
        $("form")
          /*
           * clear local storage when the form is reseted
           */
          .on('reset', function(){
            console.log('cleaning!...');
            localStorage.clear();
            location.reload();
          })
          /*
           * add to local storage when the form is submitted
           */
           document.getElementById("adicionar").onclick=function(){
            var moradaList_string = localStorage.getItem('moradaList');
            var moradaList =[];

            if(moradaList_string) {
              moradaList = JSON.parse(moradaList_string);
            }
            moradaList.push($("#item").val());
            localStorage.setItem('moradaList', JSON.stringify(moradaList));
            console.log(localStorage);
          }
      }
    });
    </script>


</body>
</html>