<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
     <style>
        body{
            width: auto;
            margin: 0px;
            
        }

        .titulo{
            position: fixed;
            height: 50%;

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            width: auto;
            height: 300px;
            background-image: url("images/nuvens.jpg");
            
        }

        .titulo h1{
            text-align: center;
            position: absolute;
            font-size: 40px;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            filter:drop-shadow(8px 8px 10px black);
        }
        .titulo h3{
            text-align: center;
            position: absolute;
            font-size: 15px;
            top: 65%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: rgb(0, 0, 0);
        }

        h1,
        h3,
        p{
            font-family: Arial, Helvetica, sans-serif;
        }

        button{
            background-color: transparent;
            border: none;
        }

        input{
            border-radius: 50px;
            border: none;
        }

        .atual{
            position: relative;
            margin: 30px;                       
        }

        .principal{
            display: inline-block;
            left:30px;
            width:30%;
            height: 250px;
            padding: 30px;
            background-color: rgb(0, 130, 252);
            color: white;
            text-align: center;
        }
        .principal1{
            display: inline-block;
            left:30px;
            width:60%;
            height: 250px;
            padding: 30px;
            
            float:right;
            text-align: center;
            background-color: rgb(0, 130, 252);
            color: white;
        }
        .secundario1{
           
            color: black;
            
            display: inline-block;
            width:25%;
            
            height: 250px;
            padding: 30px;
            
        }
        .secundario{
            display: inline-block;
            width:25%;
            float:right;
            height: 250px;
            padding: 30px;
            color: black;
        }

        form{
            float: right;
        }

        a:link { 
            text-decoration:none; 
            color: white;
            margin-right:50px;
        } 
        a:visited{
            color: white;
        }
        
        .botoes{
            text-align: center;
            padding: 10px;
            width: auto;
            background-color:rgba(0, 130, 252, 0.514); 
            position: relative;
            font-family: Arial, Helvetica, sans-serif;
            text-decoration-line: none;
            color: white;
        }

        .favoritos{
            position: relative;
            font-size: 12px;
            height: auto;
            
            font-family: Arial, Helvetica, sans-serif;
        }

        .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    color:black;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
    border-style:solid;
}

.form-vertical{
    padding: 5px;
}

.form-group button{
    display: block;
    color:white;
    float:right;
    padding: 5px;
}

    </style>
 <body>
        <div class="slider">
            <div class="favoritos">
                <div class="titulo">
        <div class="botoes">
            <a href="#slide-1">NOW</a>
            <a href="#slide-2">HOUR</a>
            <a href="#slide-3">WEEK</a>
        
    
        <div class="dropdown">
            
            <span>FAVORITES</span>
            <div class="dropdown-content">
                <p class="list-group" id="morada-list"></p>
                <p id="morada-list-text">no favorites</p>
            </div>
        </div>
        </div>
    

        <h1>{{title}}</h1>
        
        <form  class="form-vertical"> 
            <form action="/">
        <input type="text" name="local" id="item"/>
        <button type="submit" id="enviar"><img src="images/procurar.png" width="17px" align="center"></button>
        </form>
          <div class="form-group">
              
            <button type="submit" id="adicionar" class="btn btn-primary">Add Favorites</button>
            <button type="reset" id="clean"  class="btn btn-secondary">Clean</button>
            </div>
        </form>
        <h3>{{subtitle}}</h3>
        </div> 
    </div>
    
    
  <div class="slides">
    <div id="slide-1">
    
    {{!-- <form action="/">
    <input type="text" name="local" id="item"/>
    <button type="submit" id="enviar"> Enviar</button>
    </form> --}}
        <div class="atual">
                
            <div class="principal">
                <h1>{{title1}}</h1>
                <p>{{text2}}</p>
                <img src="./images/{{text3}}.png" alt="{{text3}}" width="30px" height="30px">
                <p>{{text5}}</p>
                <p>{{text1}}</p>
            </div>
            <div class="secundario">
                
                <p>{{text4}}</p>
                <p>{{text6}}</p>
                <p>{{text7}}</p>
                <p>{{text8}}</p>
                <p>{{text9}}</p>
            </div>
        </div>
    </div>
    <div id="slide-2">
        <div class="atual">
            <div class="principal1">
                <h1>{{title2}}</h1>
                <p>{{text10}}</p>
                <img src="./images/{{text11}}.png" alt="{{text11}}" width="30px" height="30px">
                <p>{{text12}}</p>
                <p>{{text15}}</p>
            </div>
            <div class="secundario1">
                <img src="./images/{{text13}}.png" alt="{{text13}}" width="30px" height="30px">
                <p>{{text14}}</p>        
                <p>{{text16}}</p>
                <p>{{text17}}</p>
                <p>{{text18}}</p>
                <p>{{text19}}</p>
            </div>
        </div>
    </div>
    <div id="slide-3">
        <div class="atual">
            <div class="principal">
                <h1>{{title3}}</h1>
                <p>{{text20}}</p>
                <img src="./images/{{text21}}.png" alt="{{text21}}" width="30px" height="30px">
                <p>{{text25}}</p>
                <p>{{text26}}</p>
            </div>
            <div class="secundario">
                <p>{{text22}}</p>
                <p>{{text23}}</p>
                <p>{{text24}}</p>    
                <p>{{text27}}</p>
            </div>
        </div>
    </div>
  </div>
</div>


    <h1>{{title4}}</h1>
    <img src="./images/{{text30}}.png" alt="{{text30}}" width="30px" height="30px">
    <p>{{text31}}</p>
    <p>{{text32}}</p>
    <p>{{text33}}</p>
    <p>{{text34}}</p>
    <p>{{text35}}</p>
    <p>{{text36}}</p>
    <p>{{text37}}</p>
    <h1>{{title5}}</h1>
    <img src="./images/{{text40}}.png" alt="{{text40}}" width="30px" height="30px">
    <p>{{text41}}</p>
    <p>{{text42}}</p>
    <p>{{text43}}</p>
    <p>{{text44}}</p>
    <p>{{text45}}</p>
    <p>{{text46}}</p>
    <p>{{text47}}</p>
    <h1>{{title6}}</h1>
    <img src="./images/{{text50}}.png" alt="{{text50}}" width="30px" height="30px">
    <p>{{text51}}</p>
    <p>{{text52}}</p>
    <p>{{text53}}</p>
    <p>{{text54}}</p>
    <p>{{text55}}</p>
    <p>{{text56}}</p>
    <p>{{text57}}</p>
    <h1>{{title7}}</h1>
    <img src="./images/{{text60}}.png" alt="{{text60}}" width="30px" height="30px">
    <p>{{text61}}</p>
    <p>{{text62}}</p>
    <p>{{text63}}</p>
    <p>{{text64}}</p>
    <p>{{text65}}</p>
    <p>{{text66}}</p>
    <p>{{text67}}</p>
    <h1>{{title8}}</h1>
    <img src="./images/{{text70}}.png" alt="{{text70}}" width="30px" height="30px">
    <p>{{text71}}</p>
    <p>{{text72}}</p>
    <p>{{text73}}</p>
    <p>{{text74}}</p>
    <p>{{text75}}</p>
    <p>{{text76}}</p>
    <p>{{text77}}</p>
    <h1>{{title9}}</h1>
    <p>{{text80}}</p>
    <img src="./images/{{text81}}.png" alt="{{text83}}" width="30px" height="30px">
    <p>{{text82}}</p>
    <p>{{text83}}</p>
    <p>{{text84}}</p>
    <p>{{text85}}</p>
    <p>{{text86}}</p>
    <p>{{text87}}</p>
    <p>{{text88}}</p>
    <p>{{text89}}</p>
    <h1>{{title10}}</h1>
    <p>{{text90}}</p>
    <img src="./images/{{text91}}.png" alt="{{text91}}" width="30px" height="30px">
    <p>{{text92}}</p>
    <p>{{text93}}</p>
    <p>{{text94}}</p>
    <p>{{text95}}</p>
    <p>{{text96}}</p>
    <p>{{text97}}</p>
    <h1>{{title11}}</h1>
    <p>{{text100}}</p>
    <img src="./images/{{text101}}.png" alt="{{text101}}" width="30px" height="30px">
    <p>{{text102}}</p>
    <p>{{text103}}</p>
    <p>{{text104}}</p>
    <p>{{text105}}</p>
    <p>{{text106}}</p>
    <p>{{text107}}</p>

  
    
     <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script>

    $(document).ready(function () {

       $("#morada-list").hide();
       $("#item").focus();

      /*
       * check browser supports local storage
       */
      if (localStorage) {

        var moradaList_string = localStorage.getItem('moradaList');
        if (moradaList_string) {
          $("#morada-list-text").hide();
          $("#morada-list").show();
          var moradaList = JSON.parse(moradaList_string);
          console.log(moradaList);
          $.each(moradaList, (index, text) => {
            //$("#morada-list").append(`<p class="list-group-item">${text}</p>`);
            $("#morada-list").append(`<li class="list-group-item"><a href="http://localhost:3500/?local=${text}">${text}</a></li>`);
             
          });
        }
        
        $("form")
          /*
           * clear local storage when the form is reseted
           */
          .on('reset', function(){
            console.log('cleaning!...');
            localStorage.clear();
            location.reload();
          })
          /*
           * add to local storage when the form is submitted
           */
           document.getElementById("adicionar").onclick=function(){
            
            var moradaList_string = localStorage.getItem('moradaList');
            var moradaList =[];

            if(moradaList_string) {
              moradaList = JSON.parse(moradaList_string);
            }
            moradaList.push($("#item").val());
            localStorage.setItem('moradaList', JSON.stringify(moradaList));
            console.log(localStorage);
          }

           
      }
    });
    </script>


</body>
</html>